<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://code.alibabatech.com/schema/dubbo 
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<description>Spring Configuration</description>
	
	<dubbo:annotation package="com.liqz.modules.dubbo.web" />
	
	<!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="my_consumer" />
  
    <!-- 使用multicast广播注册中心暴露服务地址   -->
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234" />-->
     
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry id="re1" address="zookeeper://127.0.0.1:2181" />
    <dubbo:registry id="re2" address="zookeeper://127.0.0.1:2182" />
  
    <!-- 生成远程服务代理，可以像使用本地bean一样使用myService -->
    <dubbo:reference id="myService" interface="com.liqz.modules.dubbo.api.MyService"/>
    <dubbo:reference id="myService2" interface="com.liqz.modules.dubbo.api.MyService2"/>
</beans>
	
